.navBlog {
  margin-top: -6%;
  display: block;
}

.versionblog {
  display: block;
}

.language-selector {
 display: none;
}

.hidden-tag {
 display: none;
}

form {
 margin-left: 29.5%;
 margin-top: 10px;
}

.featured-post span {
 background-color: #f0e68c;
 color: var(--black-color);
 border-radius: 5px;
 padding: 2px 8px;
 margin-left: -2%;
 margin-right: 5px;
 font-size: 12px;
}

.aboutblog-post span {
 background-color: #c300ff;
 color: var(--black-color);
 border-radius: 5px;
 padding: 2px 8px;
 margin-left: -2%;
 margin-right: 5px;
 font-size: 12px;
}

.blog-post {
 background-image: var(--background-blog-search);
 background-size: 100% 120%;
 background-repeat: no-repeat;
 color: var(--white-color);
 padding: 20px;
 border-radius: 20px;
 margin: 0% 5%;
 transition: background-image 0.5s ease, color 0.5s ease;
 margin-bottom: 20px;
}

.blog-post img {
 max-width: 100%;
}

.blog-post a {
 font-family: var(--roboto);
 color: var(--blog-a);
 font-weight: bold;
 transition: color 0.5s ease;
}

.blog-post h2 {
 color: var(--white-color);
 margin: 30;
 font-family: var(--roboto);
 transition: color 0.5s ease;
 margin-top: 0;
}

.blog-post p {
 color: var(--white-color);
 font-family: var(--roboto);
 transition: color 0.5s ease;
 margin-top: 5px;
 margin-bottom: 4px;
}

.blog-post .tags {
 margin-bottom: 5px;
}

.blog-post .tags span {
 background-color: var(--tags-color);
 border-radius: 5px;
 padding: 2px 8px;
 margin-right: 5px;
 font-size: 12px;
}

@media screen and (max-width: 768px) {
form {
 margin-left: 12.5%;
 margin-top: 10px;
}

input[type="text"] {
 padding: 5px;
 width: 200px;
 background: var(--white-color);
 color: var(--body-color);
 transition: background-color 0.5s ease, color 0.5s ease;
}

.blog-selector {
 margin-left: 29%;
 margin-top: 10px;
}

.navBlog {
 display: none;
}
}

/* Blog Posts */
.blogtitle {
 color: var(--white-color);
 text-align: var(--text-align-center);
 margin-left: 10;
 font-family: var(--roboto);
 transition: color 0.5s ease;
}

.blogsubtitle {
 color: var(--white-color);
 text-align: var(--text-align-center);
 margin-left: 10;
 margin-top: -10;
 font-family: var(--roboto);
 transition: color 0.5s ease;
}

.blogdivtext {
 color: var(--white-color);
 text-align: var(--text-align-center);
 font-family: var(--roboto);
 transition: color 0.5s ease;
}

.blogheadsvg {
 padding-right: 2;
 fill: #a83dff;
 height: 15px; 
 width: 15px; 
 transition: fill 0.5s ease;
}

/* Tags */
.tagsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tagsList div {
    margin: 30px;
}

.tagsListDiv {
    background-color: var(--rooter-background-color);
    color: var(--white-color);
    padding: 7%;
    border-radius: 10px;
    margin: 0% 0%;
    transition: background-color 0.5s ease;
}

.tagsListDiv a {
    grid-template-columns: 1fr;
    display: grid;
    margin: 10px;
    margin-right: 5px;
} 