@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

:root {
    --body-color: #111111;
    --white-color: #ffffff;
    --roboto: Roboto;
    --text-decoration: none;
    --text-align-center: center;
    --font-style: normal;

    --nav-rooter-margin: 10px;
    --nav-background-image: url('../img/navbg.png');
    --rooter-background-image: url('../img/navbgrooter.png');
    --rooter-background-color: #191919;
    --rooter-hr-main: #272727;
    --rooter-invert-lastfm: invert(0%);
    --mobile-menu-background: #292929;
    --mobile-submenu-background: #2e2e2e;

    --svg-fill-color: white;

    --link-color: #6c00c5;
    --link-visited: #8101eb;
    --link-active: #5e00ac;

    /* Blog */
    --background-blog-search: url('../img/blog/background-blog-search.webp');
    --tags-color: #000000;
    --blog-a: #8036e7;

    /* projects.html */
    --projects-mine-background-image: url('../img/projects/minecraftbg.png');
    --projects-other-background-image: url('../img/backgroundsite_dark.png');
}

body {
    background-color: var(--body-color);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    margin: 0 0 0;
    transition: background-color 0.5s ease;
}

a {
    cursor: pointer; 
    color: var(--link-color);
    text-decoration: none;
    font-family: var(--roboto);
}

a:visited {
    color: var(--link-visited);
    text-decoration: none;
}

a:active {
    color: var(--link-active);
    text-decoration: none;
}

nav {
    font-family: Montserrat;
    background-image: var(--nav-background-image);
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    text-align: var(--text-align-center);
    transition: background-image 0.5s ease;
}

a.nav-active {
    color: #8a56f7;
    text-decoration: var(--text-decoration);
    font-family: Montserrat; 
    margin-left: var(--nav-rooter-margin);
    margin-right: var(--nav-rooter-margin);
    transition: color 0.5s ease;
}
  
a.nav-settings {
    color: var(--white-color);
    text-decoration: var(--text-decoration);
    font-family: Montserrat;
    margin-left: var(--nav-rooter-margin);
    margin-right: var(--nav-rooter-margin);
    transition: color 0.5s ease;
}

.theme-class {
    width: auto; 
    height: 5%;
    max-width: 10%; 
    margin-top: -2%; 
    margin-right:20px; 
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.menu-icon {
    color: var(--white-color);
    margin-left: 0%;
    transition: color 0.5s ease;
}

.topnav {
    overflow: hidden;
    background-color: var(--mobile-menu-background);
    position: relative;
    overflow-x: hidden;
    transition: background-color 0.5s ease;
}
  
.topnav #myLinks {
    display: none;
}

#mySubLinks {
    display: none;
    background-color: var(--mobile-submenu-background);
    transition: background-color 0.5s ease;
}
  
.topnav a {
    color: var(--white-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: color 0.5s ease;
}
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-mobile-settings-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
.navigation-container {
    display: none; /* Hide navigation links on mobile */
    }
    
.mobile-menu {
    display: block; /* Show hamburger menu on mobile */
    margin-right: 30%;
    margin-top: -8%;
    }

.menu-icon {
    margin-right: 70%;
    }    

.language-selector {
    margin-left: 60%;
    }

.theme-class {
    margin-top: 1%;
    }
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rooter-background-color);
    padding: 2px;
}

#menu a {
    font-family: Pacifico;
    text-decoration: none;
    color: var(--white-color);
    padding: 2px;
}

#menu a:hover {
    color: purple;
}

.dropdown-footer {
    bottom: 100%;
    font-family: Montserrat; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--rooter-background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: var(--white-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--body-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.language-selector {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

label {
    margin-right: 10px;
}

select {
    background-color: var(--body-color);
    color: var(--white-color);
    font-family: Pacifico;
    border: 1px solid var(--body-color);
    border-radius: 8px;
    padding: 8px;
    appearance: none;
    cursor: pointer;
    margin-left: 1%;
    margin-top: -2%;
    transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

/* Estilize a seta do seletor */
select::-ms-expand {
    display: none;
}

/* Estilize a seta do seletor para navegadores não-Edge */
select::-webkit-select-arrow {
    display: none;
}

/* Adicione um ícone personalizado para a seta */
select::after {
    content: '\25BC'; /* Unicode para a seta para baixo */
    font-size: 14px;
    margin-left: 5px;
    
}

option {
    color: var(--white-color);
    background-color: transparent;
    font-family: Pacifico;
}

.title {
    color: var(--white-color);
    text-align: var(--text-align-center);
    margin: 30;
    font-family: var(--roboto);
    transition: color 0.5s ease;
}
  
.text {
    color: var(--white-color);
    text-align: var(--text-align-center);
    font-family: var(--roboto);
    transition: color 0.5s ease;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    box-shadow: 0px 0px 8px #000000;
}

#youtube-player {
    width: 560px;
    height: 315px;
}
 
.rooter-social-bg {
    background-color: var(--rooter-background-color);
    background-size: 100% 100%;
    margin: 0;
    text-align: var(--text-align-center);
    transition: background-color 0.5s ease;
}
  
.rooter-social {
    font-family: unisans;
    color: var(--white-color);
    text-decoration: var(--text-decoration);
    font-style: var(--font-style);
    margin-left: var(--nav-rooter-margin);
    margin-right: var(--nav-rooter-margin);
    transition: color 0.5s ease;
}
  
.footer-svg {
    height: 35px; 
    width: 35px; 
    fill: var(--svg-fill-color); 
    padding: -10px;
    transition: fill 0.5s ease;
}

footer {
    color: var(--white-color);
    text-align: var(--text-align-center);
    font-family: var(--roboto);
    font-style: var(--font-style);
    margin-top: 50;
    background-image: var(--rooter-background-image);
    background-size: 100% 50%; 
    background-repeat: no-repeat; 
    margin: 0;
    position:absolute;
    width:100%;
    transition: background-color 0.5s ease, background-image 0.5s ease, color 0.5s ease;
}

/* Modo claro (MrPowerGamerBR be like) */

.light-mode {
    --body-color: #d4d4d4;
    --white-color: #000000;
    --roboto: Roboto;
    --text-decoration: none;
    --text-align-center: center;
    --font-style: normal;

    --nav-rooter-margin: 10px;
    --nav-background-image: url('../img/navbg_light.png');
    --rooter-background-image: url('../img/navbgrooter_light.png');
    --rooter-background-color: #BBBBBB; 
    --rooter-hr-main: #a7a7a7;
    --rooter-invert-lastfm: invert(100%);
    --mobile-menu-background: #bbbbbb;
    --mobile-submenu-background: #b1b1b1;

    --svg-fill-color: black;

    --link-color: #6c00c5;
    --link-visited: #8101eb;
    --link-active: #5e00ac;

    /* Blog */
    --background-blog-search: url('../img/blog/background-light-blog-search.webp');
    --tags-color: #FFFFFF;
    --blog-a: #351463;

    /* projects.html */
    --projects-mine-background-image: url('../img/projects/minecraftbg_light.png');
}

/* LGBT */

.lgbt-mode {
    --link-lgbt-red: #FF0018;
    --link-lgbt-orange: #FFA52C;
    --link-lgbt-yellow: #FFD700;
    --link-lgbt-green: #008000;
    --link-lgbt-blue: #0000FF;
    --link-lgbt-purple: #800080;
  
    --link-gradient: repeating-linear-gradient(to right, var(--link-lgbt-red), var(--link-lgbt-orange), var(--link-lgbt-yellow), var(--link-lgbt-green), var(--link-lgbt-blue), var(--link-lgbt-purple));

    --link-lgbt-bi-rosa: #ff0080;
    --link-lgbt-bi-purple: #a349a4;
    --link-lgbt-bi-blue: #0000ff;

    --link-bi-color: repeating-linear-gradient(var(--link-lgbt-bi-rosa), var(--link-lgbt-bi-rosa), var(--link-lgbt-bi-purple), var(--link-lgbt-bi-blue), var(--link-lgbt-bi-blue));

    --link-lgbt-trans-lightblue: #00d2ff;
    --link-lgbt-trans-pink: #ffa6b9;
    --link-lgbt-trans-white:white;

    --link-trans-color: linear-gradient(to bottom, 
    var(--link-lgbt-trans-lightblue),   /* Azul claro */
    var(--link-lgbt-trans-lightblue) 40%,  /* Azul claro */
    var(--link-lgbt-trans-pink), /* Rosa */
    var(--link-lgbt-trans-pink) 45%, /* Rosa */
    var(--link-lgbt-trans-white) 50%,  /* Branco */
    var(--link-lgbt-trans-white) 52%,  /* Branco */
    var(--link-lgbt-trans-pink) 40%, /* Rosa */
    var(--link-lgbt-trans-pink), /* Rosa */
    var(--link-lgbt-trans-lightblue),
    var(--link-lgbt-trans-lightblue) 65%); /* Azul claro */


    --svg-fill-color: #F5A9B8;
}

.lgbt-mode a {
    color: transparent;
    background-image: var(--link-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}

.lgbt-mode .topic-title {
    background: var(--link-trans-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lgbt-mode h1 {
    color: transparent;
    background-image: var(--link-bi-color);
    background-clip: text;
    -webkit-background-clip: text;
}

.lgbt-mode .footer-svg .st0 {
    fill: var(--svg-fill-color);
}